.github-icon,
.linkedin-icon,
.explore-icon{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.github-icon{
    justify-content: flex-start;
}

.explore-icon{
    justify-content: flex-end;
}

.linkedin-btn,
.git-btn,
.explore-btn, .purple-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.118px 15.176px;
    gap: 10.118px;  
    color: white;
    color: var(--color-text-inverse, #F4F6F7);
    font-family: var(--typography-font-family-secondary-font, Rubik);
    font-size: 17.706px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.294px;
}

.git-btn{
    border: 1.265px solid var(--colors-neutral-900, #3E496A);
    background: var(--colors-neutral-950, #292F42);
    box-shadow: 0px 3.163px 3.163px 0px rgba(0, 0, 0, 0.25);
}
.git-btn:hover{
    border: 1px solid var(--colors-neutral-950, #292F42);
    background: var(--colors-neutral-900, #3E496A);
    cursor: pointer;
}
.git-btn:active{
    border: 1px solid var(--colors-neutral-950, #292F42);
    background: var(--colors-text-950, #1B1F23);
    cursor: pointer;
}

.linkedin-btn{
    border: 1.265px solid #024E79;
    background: #0072B1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin-btn:hover{
    border: 1px solid #0072B1;
    background: #024E79;
    cursor: pointer;
}
.linkedin-btn:active{
    border: 1px solid #054F78;
    background: #033F61;
    cursor: pointer;
}

.explore-btn{
    border: 1.897px solid var(--color-border-emphasis, #5467A1);
    background: var(--color-background-subtle, #D2DDEB);
    box-shadow: 0px 3.163px 3.163px 0px rgba(0, 0, 0, 0.25);
    color: var(--color-text-primary, #363C43);
}
.explore-btn:hover{
    border: 1.5px solid var(--color-border-strong, #728EBF);
    background: var(--color-background-elevated, #B2C7DE);
    color: var(--color-text-secondary, #44505A);
    cursor: pointer;
}
.explore-btn:active{
    border: 1.5px solid var(--color-border-subtle, #D2DDEB);
    background: var(--color-background-inverse, #3E496A);
    color: var(--color-text-inverse, #F4F6F7);
        cursor: pointer;
}

.purple-btn{
    border: 1.5px solid var(--colors-secondary-500, #A066E8);
    background: var(--colors-secondary-300, #D4BBF7);
    box-shadow: 0px 3.163px 3.163px 0px rgba(0, 0, 0, 0.25);
    color: var(--color-text-primary, #363C43);
}
.purple-btn:hover{
    border: 1.5px solid var(--colors-secondary-600, #8844D9);
    background: var(--colors-secondary-400, #BA8FF1);
    color: var(--color-text-secondary, #44505A);
    cursor: pointer;
}
.purple-btn:active{
    border: 1.5px solid var(--color-border-subtle, #D2DDEB);
    background: var(--colors-secondary-900, #51267D);
    color: var(--color-text-inverse, #F4F6F7);
    cursor: pointer;
}


.git-icon-size,
.linkedin-icon-size,
.explore-icon-size,
.purple-icon-size{
        font-size: 24px;
}
