.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 48px;
    color: var(--colors-text-400, #778D99);
    background: var(--colors-text-950, #1B1F23);
    width: 100%;
    height: 40vh;
    padding: 16px;
}

.icons-align{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.linkedin-button,
.github-btn,
.gmail-btn{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.linked,
.github,
.gmail{
    width: 29.174px;
    height: 27.215px;
    color: #0072B1;
}

.linkedin-button{
    border: 2.612px solid #024E79;
    background: #0072B1;
}

.linkedin-button:hover{
    border: 2.612px solid #0072B1;
    background: #024E79;
}

.linkedin-button:active{
    border: 2.612px solid #054F78;
    background: #033F61;
}

.github-btn{
    border: 2.324px solid var(--colors-neutral-900, #3E496A);
    background: var(--colors-neutral-950, #292F42);
}

.github-btn:hover{
    border: 2.324px solid var(--colors-neutral-950, #292F42);
    background: var(--colors-neutral-900, #3E496A);
}

.github-btn:active{
    border: 2.324px solid var(--colors-neutral-950, #292F42);
    background: var(--colors-text-950, #1B1F23);
}

.gmail-btn{
    border: 2.469px solid var(--colors-error-900, #7F1D1D);
    background: var(--colors-error-500, #EF4444);
}

.gmail-btn:hover{
    border: 2.469px solid var(--colors-error-500, #EF4444);
    background: var(--colors-error-400, #F87171);
}

.gmail-btn:active{
    border: 2.469px solid var(--colors-error-400, #F87171);
    background: var(--colors-error-800, #991B1B);
}

.footer-text{
    color: #FFF;
}

.top-half{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}